/*
    Table of Contents

    Name                 : W3CRM
    Author               : Dexignzone
    Author Portfolio     : https://themeforest.net/user/dexignzone/portfolio
    


    Table of Sass Contents

    1. Abstracts
        _bs-custom
        _inheritance
        _maps
        _mixin
        _variable

    2. bootstrap 
        -Here goes all official bootstrap scss files

    3. Global/Base
        _color
        _custom-grid
        _fonts
        _helper
        _reset

    4. layout
        +footer
        +header
        +rtl
        +sidebar
        +tables
        +theme
        +version-dark

    5. Conponents
        +app
        +charts
        +forms
        +map
        +uc
        +ui
        +widget

    6. Page
        _index-1
        _page-error
        _page-register
        _page-signin
        _page-user-lock
        _page-user-lock

*/
:root {
  --primary: #0D99FF;
  --secondary: #2C2C2C;
  --secondary-dark: #131313;
  --primary-hover: #007ed9;
  --primary-dark: #004373;
  --rgba-primary-1: rgba(13, 153, 255, 0.1);
  --rgba-primary-2: rgba(13, 153, 255, 0.2);
  --rgba-primary-3: rgba(13, 153, 255, 0.3);
  --rgba-primary-4: rgba(13, 153, 255, 0.4);
  --rgba-primary-5: rgba(13, 153, 255, 0.5);
  --rgba-primary-6: rgba(13, 153, 255, 0.6);
  --rgba-primary-7: rgba(13, 153, 255, 0.7);
  --rgba-primary-8: rgba(13, 153, 255, 0.8);
  --rgba-primary-9: rgba(13, 153, 255, 0.9);
  --rgba-secondary-1: rgba(44, 44, 44, 0.1);
  --rgba-secondary-2: rgba(44, 44, 44, 0.2);
  --rgba-secondary-3: rgba(44, 44, 44, 0.3);
  --rgba-secondary-4: rgba(44, 44, 44, 0.4);
  --rgba-secondary-5: rgba(44, 44, 44, 0.5);
  --rgba-secondary-6: rgba(44, 44, 44, 0.6);
  --rgba-secondary-7: rgba(44, 44, 44, 0.7);
  --rgba-secondary-8: rgba(44, 44, 44, 0.8);
  --rgba-secondary-9: rgba(44, 44, 44, 0.9);
  --font-family-base: poppins, sans-serif, sans-serif;
  --font-family-title: poppins, sans-serif, sans-serif;
  --title: #374557;
}

.gradient_one {
  background-image: linear-gradient(to right, rgba(186, 1, 181, 0.85) 0%, rgba(103, 25, 255, 0.85) 100%);
}

.gradient-1 {
  background: #f0a907;
  background: -moz-linear-gradient(top, #f0a907 0%, #f53c79 100%);
  background: -webkit-linear-gradient(top, #f0a907 0%, #f53c79 100%);
  background: linear-gradient(to bottom, #f0a907 0%, #f53c79 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0a907', endColorstr='#f53c79', GradientType=0);
}

.gradient-2 {
  background: #4dedf5;
  background: -moz-linear-gradient(top, #4dedf5 0%, #480ceb 100%);
  background: -webkit-linear-gradient(top, #4dedf5 0%, #480ceb 100%);
  background: linear-gradient(to bottom, #4dedf5 0%, #480ceb 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4dedf5', endColorstr='#480ceb', GradientType=0);
}

.gradient-3 {
  background: #51f5ae;
  background: -moz-linear-gradient(top, #51f5ae 0%, #3fbcda 100%);
  background: -webkit-linear-gradient(top, #51f5ae 0%, #3fbcda 100%);
  background: linear-gradient(to bottom, #51f5ae 0%, #3fbcda 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#51f5ae', endColorstr='#3fbcda', GradientType=0);
}

.gradient-4 {
  background: #f25521;
  background: -moz-linear-gradient(left, #f25521 0%, #f9c70a 100%);
  background: -webkit-linear-gradient(left, #f25521 0%, #f9c70a 100%);
  background: linear-gradient(to right, #f25521 0%, #f9c70a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f25521', endColorstr='#f9c70a', GradientType=1);
}

.gradient-5 {
  background: #f53c79;
  background: -moz-linear-gradient(left, #f53c79 0%, #f0a907 100%);
  background: -webkit-linear-gradient(left, #f53c79 0%, #f0a907 100%);
  background: linear-gradient(to right, #f53c79 0%, #f0a907 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f53c79', endColorstr='#f0a907', GradientType=1);
}

.gradient-6 {
  background: #36b9d8;
  background: -moz-linear-gradient(left, #36b9d8 0%, #4bffa2 100%);
  background: -webkit-linear-gradient(left, #36b9d8 0%, #4bffa2 100%);
  background: linear-gradient(to right, #36b9d8 0%, #4bffa2 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#36b9d8', endColorstr='#4bffa2', GradientType=1);
}

.gradient-7 {
  background: #4400eb;
  background: -moz-linear-gradient(left, #4400eb 0%, #44e7f5 100%);
  background: -webkit-linear-gradient(left, #4400eb 0%, #44e7f5 100%);
  background: linear-gradient(to right, #4400eb 0%, #44e7f5 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4400eb', endColorstr='#44e7f5', GradientType=1);
}

.gradient-8 {
  background: #F7B00F;
  background: -moz-linear-gradient(top, #F7B00F 0%, #F25521 100%);
  background: -webkit-linear-gradient(top, #F7B00F 0%, #F25521 100%);
  background: linear-gradient(to bottom, #F7B00F 0%, #F25521 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7B00F', endColorstr='#F25521', GradientType=1);
}

.gradient-9 {
  background: #f31e7a !important;
  background: -moz-linear-gradient(left, #f31e7a 0%, #fd712c 100%);
  background: -webkit-linear-gradient(left, #f31e7a 0%, #fd712c 100%);
  background: linear-gradient(to right, #f31e7a 0%, #fd712c 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f31e7a', endColorstr='#fd712c', GradientType=1);
}

.gradient-10 {
  background: #f25521 !important;
  background: -moz-linear-gradient(left, #f25521 0%, #f9c70a 100%);
  background: -webkit-linear-gradient(left, #f25521 0%, #f9c70a 100%);
  background: linear-gradient(to top, #f25521 0%, #f9c70a 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f25521', endColorstr='#f9c70a', GradientType=1);
}

.gradient-11 {
  background: #3398fb;
  background: -moz-linear-gradient(left, #3398fb 0%, #8553ee 100%);
  background: -webkit-linear-gradient(left, #3398fb 0%, #8553ee 100%);
  background: linear-gradient(to right, #3398fb 0%, #8553ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3398fb', endColorstr='#8553ee', GradientType=1);
}

.gradient-12 {
  background: #36e1b4;
  background: -moz-linear-gradient(left, #36e1b4 0%, #11cae7 100%);
  background: -webkit-linear-gradient(left, #36e1b4 0%, #11cae7 100%);
  background: linear-gradient(to right, #36e1b4 0%, #11cae7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#36e1b4', endColorstr='#11cae7', GradientType=1);
}

.gradient-13 {
  background: #ffbf31;
  background: -moz-linear-gradient(left, #ffbf31 0%, #ff890e 100%);
  background: -webkit-linear-gradient(left, #ffbf31 0%, #ff890e 100%);
  background: linear-gradient(to right, #ffbf31 0%, #ff890e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbf31', endColorstr='#ff890e', GradientType=1);
}

.gradient-14 {
  background: #23bdb8;
  background: -moz-linear-gradient(-45deg, #23bdb8 0%, #43e794 100%);
  background: -webkit-linear-gradient(-45deg, #23bdb8 0%, #43e794 100%);
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23bdb8', endColorstr='#43e794', GradientType=1);
}

.gradient-15 {
  background: #9a56ff;
  background: -moz-linear-gradient(-45deg, #9a56ff 0%, #e36cd9 100%);
  background: -webkit-linear-gradient(-45deg, #9a56ff 0%, #e36cd9 100%);
  background: linear-gradient(135deg, #9a56ff 0%, #e36cd9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9a56ff', endColorstr='#e36cd9', GradientType=1);
}

.gradient-16 {
  background: #f48665;
  background: -moz-linear-gradient(-45deg, #f48665 0%, #fda23f 100%);
  background: -webkit-linear-gradient(-45deg, #f48665 0%, #fda23f 100%);
  background: linear-gradient(135deg, #f48665 0%, #fda23f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f48665', endColorstr='#fda23f', GradientType=1);
}

.gradient-17 {
  background: #e36cd9;
  background: -moz-linear-gradient(-45deg, #e36cd9 0%, #fe60ae 100%);
  background: -webkit-linear-gradient(-45deg, #e36cd9 0%, #fe60ae 100%);
  background: linear-gradient(135deg, #e36cd9 0%, #fe60ae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e36cd9', endColorstr='#fe60ae', GradientType=1);
}

.gradient-18 {
  background: #a15cff;
  background: -moz-linear-gradient(left, #a15cff 0%, #ce82fd 100%);
  background: -webkit-linear-gradient(left, #a15cff 0%, #ce82fd 100%);
  background: linear-gradient(to right, #a15cff 0%, #ce82fd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a15cff', endColorstr='#ce82fd', GradientType=1);
}

/*
  0 - 600: Phone
  600 - 900: Tablet portrait
  900 - 1200: Tablet landscape
  1200 - 1800: Normal styles
  1800+ : Big Desktop
  1em = 16px
  The smaller device rules always should write below the bigger device rules
  Fixing Order => Base + Typography >> General Layout + Grid >> Page Layout + Component
  */
/*!
     * Bootstrap  v5.3.0 (https://getbootstrap.com/)
     * Copyright 2011-2023 The Bootstrap Authors
     * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
     */
:root,
[data-bs-theme="light"] {
  --bs-blue: #5e72e4;
  --bs-indigo: #6610f2;
  --bs-purple: #BB6BD9;
  --bs-pink: #e83e8c;
  --bs-red: #EE3232;
  --bs-orange: #ff9900;
  --bs-yellow: #FFFA6F;
  --bs-green: #297F00;
  --bs-teal: #20c997;
  --bs-cyan: #3065D0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0D99FF;
  --bs-secondary: #2C2C2C;
  --bs-success: #3AC977;
  --bs-info: #58bad7;
  --bs-warning: #FF9F00;
  --bs-danger: #FF5E5E;
  --bs-light: #dfdfdf;
  --bs-dark: #6e6e6e;
  --bs-primary-rgb: 13, 153, 255;
  --bs-secondary-rgb: 44, 44, 44;
  --bs-success-rgb: 58, 201, 119;
  --bs-info-rgb: 88, 186, 215;
  --bs-warning-rgb: 255, 159, 0;
  --bs-danger-rgb: 255, 94, 94;
  --bs-light-rgb: 223, 223, 223;
  --bs-dark-rgb: 110, 110, 110;
  --bs-primary-text-emphasis: #053d66;
  --bs-secondary-text-emphasis: #121212;
  --bs-success-text-emphasis: #175030;
  --bs-info-text-emphasis: #234a56;
  --bs-warning-text-emphasis: #664000;
  --bs-danger-text-emphasis: #662626;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfebff;
  --bs-secondary-bg-subtle: #d5d5d5;
  --bs-success-bg-subtle: #d8f4e4;
  --bs-info-bg-subtle: #def1f7;
  --bs-warning-bg-subtle: #ffeccc;
  --bs-danger-bg-subtle: #ffdfdf;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ed6ff;
  --bs-secondary-border-subtle: #ababab;
  --bs-success-border-subtle: #b0e9c9;
  --bs-info-border-subtle: #bce3ef;
  --bs-warning-border-subtle: #ffd999;
  --bs-danger-border-subtle: #ffbfbf;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: "Roboto", sans-serif, sans-serif;
  --bs-body-font-size: 0.87rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #888888;
  --body-color: #666;
  --bs-body-color-rgb: 136, 136, 136;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(136, 136, 136, 0.75);
  --bs-secondary-color-rgb: 136, 136, 136;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(136, 136, 136, 0.5);
  --bs-tertiary-color-rgb: 136, 136, 136;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: #374557;
  --bs-link-color: #0D99FF;
  --bs-link-color-rgb: 13, 153, 255;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a7acc;
  --bs-link-hover-color-rgb: 10, 122, 204;
  --bs-code-color: #e83e8c;
  --bs-highlight-bg: #fffee2;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #CCCCCC;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 153, 255, 0.25);
  --bs-form-valid-color: #3AC977;
  --bs-form-valid-border-color: #3AC977;
  --bs-form-invalid-color: #FF5E5E;
  --bs-form-invalid-border-color: #FF5E5E;
}

[data-bs-theme="dark"] {
  color-scheme: dark;
  --bs-body-color: #adb5bd;
  --bs-body-color-rgb: 173, 181, 189;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(173, 181, 189, 0.75);
  --bs-secondary-color-rgb: 173, 181, 189;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(173, 181, 189, 0.5);
  --bs-tertiary-color-rgb: 173, 181, 189;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #6ec2ff;
  --bs-secondary-text-emphasis: gray;
  --bs-success-text-emphasis: #89dfad;
  --bs-info-text-emphasis: #9bd6e7;
  --bs-warning-text-emphasis: #ffc566;
  --bs-danger-text-emphasis: #ff9e9e;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031f33;
  --bs-secondary-bg-subtle: #090909;
  --bs-success-bg-subtle: #0c2818;
  --bs-info-bg-subtle: #12252b;
  --bs-warning-bg-subtle: #332000;
  --bs-danger-bg-subtle: #331313;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #085c99;
  --bs-secondary-border-subtle: #1a1a1a;
  --bs-success-border-subtle: #237947;
  --bs-info-border-subtle: #357081;
  --bs-warning-border-subtle: #995f00;
  --bs-danger-border-subtle: #993838;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #6ec2ff;
  --bs-link-hover-color: #8bceff;
  --bs-link-color-rgb: 110, 194, 255;
  --bs-link-hover-color-rgb: 139, 206, 255;
  --bs-code-color: #f18bba;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #7fb266;
  --bs-form-valid-border-color: #7fb266;
  --bs-form-invalid-color: #f58484;
  --bs-form-invalid-border-color: #f58484;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: 14px;
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  letter-spacing: .5px;
}

.container-fluid {
  padding: 0px 60px;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

h1,
.h1 {
  font-size: calc(1.35rem + 1.2vw);
}

/*  Header design top-strip */
/* .top-strip p{
    color: var(--bs-body-color);
    
  } */
p,
ul,
li,
ol {
  margin: 0px;
  font-weight: 500;
}

ul,
li,
ol {
  list-style: none;
}

.header {
  box-shadow: 0px 0px 10px -5px #3845;
  min-height: 100px;
}

.top-strip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.drop-down-btn {
  border: none;
  background-color: white;
}

.nav-link button {
  border: none;
  background-color: white;
  color: var(--body-color);

}

.dropdown-item img {
  margin: 5px;
}

.top-strip .nav-link li {
  list-style: none;
  /* color: var(--bs-body-color); */
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link>li::after {
  content: "|";
  font-size: 10px;
  color: #E5E5E5;
  transform: scaleY(2);
  display: inline-block;
  padding-left: 7px;



}

.btn-group:nth-child(1)::after {
  content: "|";
  font-size: 10px;
  /* Keep the font size small for a thin line */
  color: #E5E5E5 !important;
  transform: scaleY(2);
  /* Adjust the height using scaleY */
  display: inline-block;
  margin-top: 7px;
  padding-left: 7px;
}

.header hr {
  margin: 0.5rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;

}

.theme-button {
  background-color: #FF5252;
  color: #FFF;
  padding: 8px 25px;
  border: none;
  border-radius: 3px;
}

.Icon-cart::before {
  content: "|";
  font-size: 10px;
  transform: scaleY(4);
  display: inline-block;
  line-height: 4;
  color: inherit;

}

/* Navbar style */
.hemberg img {
  height: 22px;
}

.hemberg::after {
  content: "|";
  font-size: 10px;
  transform: scaleY(2);
  display: inline-block;
  padding: 3px;
}

/* sidebar */
/* .css-1citxqs-MuiButtonBase-root-MuiButton-root{
    display: block !important;
    align-items: start !important;
   }
   .css-1citxqs-MuiButtonBase-root-MuiButton-root{
    display: block !important;
    align-items: start !important;
   } */
.custom-button {
  display: flex;
  align-items: start !important;
  justify-content: start !important;
  width: calc(100% - 10px);
}

.sidebarIcon {
  position: absolute;
  right: 20px;
  color: #666;
  cursor: pointer;

}

.MdClose {
  border-radius: 30px;
  transition: background-color 0.2s ease-in, color 0.3s ease-in, transform 0.3s ease-in;
}

.MdClose:hover {
  background-color: #FF5252;
  color: #FFF;
  cursor: pointer;
}

.custom-dropdown {
  position: absolute;
  width: 50% !important;

}

/* end side bar */

/* End Nav bar style */

/* Home Page start */

 .home-page{
  background-color: #F5F0F0;
  padding: 40px 0px;
  
 }

/* Banner Right */

.banner-Right img{
  border-radius: 10px;
  width: 100%;
  
}
.banner-Right{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
 
}
.sub-banner-first img{
  transition: transform 1s ease, opacity 1s ease;
}
.sub-banner-first img:hover{
  cursor: pointer;
  transform: scale(1.09);
  opacity: 0.9; 
  overflow: hidden;
  
}
   
/*  Banner RFight */
.banner-right-content{
  position: absolute;
  top: 70px;
  left: 0px;
  width: 50%;
}
.banner-right-content ul li{
  font-size: 20px;
  font-weight: 600;
  color: black;
}
/* End Banner Right */


/*  Banner End */


/* End Home Page */